/* app.component.css */

.logo {

  height: 50px;
  width: auto;
  margin-left: 110px;

}

.navbar-container {
  margin-bottom: 20px; /* Espaciado opcional para separar el contenido principal */
}
.navbar-nav{
  margin-right: 120px;
}