<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <h1>
                            Sembrando vida para el futuro
                        </h1>
                    </div>
                </div>
                <!-- agrupame los botones con poca distancia a la izquierda de la web -->
                <div class="row  ">
                    <div class="col-lg-4">
                        <button class="btn btn-primary">Elige una planta</button>
                    </div>
                    <div class="col-lg-4 ">
                        <button class="btn btn-secondary ">Contactanos!</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0 text-lg-right">
                <img src="assets/imgHome.png" class="imgHome" alt="">
            </div>
        </div>
    </div>
</section>